body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.btn{
  display: flex;
  justify-content:center;
}

button{
  margin-top: 2rem;
}


